[submodule "TypeScript"]
	path = references/TypeScript
	url = https://github.com/microsoft/TypeScript.git
[submodule "references/ecma262"]
	path = references/ecma262
	url = https://github.com/tc39/ecma262.git
[submodule "references/babel"]
	path = references/babel
	url = https://github.com/babel/babel.git
[submodule "references/TypeScript-go"]
	path = references/TypeScript-go
	url = https://github.com/microsoft/TypeScript-go.git
